
@media screen and (max-width: 919px) {
    
    #card{
      max-width: 100%;
    }
  }

  .example-card {
    max-width: 400px;
    min-width: 100px;
    height: 150px;
  }
  .tab{
    width: 100%;
    height: 100vh;
  }